<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To Roommate Page</h1>
      <p>View our hand-picked rooms from all the world</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/rooms/new">Add New Room</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap:wrap">
    <% rooms.forEach(room => { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= room.image%>" />
      </div>
      <div class="caption">
        <h4><%= room.name%></h4>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<% include partials/footer %>
